<div class="container">
  <% if @users.any? %>
    <% @users.each do |user| %>
      <a href="/users/<%= user.id %>" >
        <%= render "templates/user", user: user %>
      </a>
    <% end %>
  <% else %>
    <h1 class="text-center m-auto">No users registered</h1>
  <% end %>
</div>