<div class="container">

  <% if user_signed_in? %>
    <h4>Welcome <%= current_user.name %> </h4>
    <%= link_to "Add a new post", new_user_post_path(user_id: @user.id), class: "add-new-post"%>
  <% end %>
  
  <% if @users.any? %>
    <% @users.each do |user| %>
      <%= render "templates/user", user: user %>
    <% end %>
  <% else %>
    <h1 class="text-center m-auto">No users registered</h1>
  <% end %>

  <%= link_to "Create User", new_user_registration_path, class: "create-user" %>
</div>
