/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
   1. Use a more-intuitive box-sizing model.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
   2. Remove default margin
 */
* {
  margin: 0;
}

/*
   Typographic tweaks!
   3. Add accessible line-height
   4. Improve text rendering
 */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Balsamiq Sans', sans-serif;
}

/*
   5. Improve media defaults
 */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
   6. Remove built-in form typography styles
 */
input,
button,
textarea,
select {
  font: inherit;
}

/*
   7. Avoid text overflows
 */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
   8. Create a root stacking context
 */
#root,
#__next {
  isolation: isolate;
}

.body-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* users */
.user-card {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
  width: 100%;
  text-decoration: none;
  color: black;
}

.user-card:hover {
  cursor: pointer;
  outline: 2px teal solid;
  outline-offset: 4px;
  transition: ease-in-out;
}

.user-photo {
  width: 110px;
  height: 100px;
  border: 3px rgb(32, 32, 32) solid;
  object-fit: cover;
  filter: grayscale();
}

.user-card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  height: 90%;
  justify-content: space-between;
}

.user-bio {
  font-size: 13px;
  color: rgb(62, 62, 62);
  font-weight: 200;
  font-style: italic;
  margin-top: 3px;
}

.user-totalpost {
  font-size: 14px;
  text-align: right;
}

.create-user {
  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 25px;

  /* border: 1px rgba(0, 0, 0, 0.307) solid; */
  background-color: #5eeac01a;
  box-shadow: 3px 5px 1px rgba(79, 76, 76, 0.733);
  cursor: pointer;
  text-decoration: none;
  color: #000;
  align-self: center;
  width: fit-content;
}

.signup_button,
.login_button {
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  background-color: #0000001a;
  box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.733);
  cursor: pointer;
  text-decoration: none;
  color: #000;
  align-self: center;
  width: fit-content;
}

.see-all-posts {
  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 25px;

  /* border: 1px rgba(0, 0, 0, 0.307) solid; */
  background-color: #0000001a;
  box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.733);
  cursor: pointer;
  text-decoration: none;
  color: #000;
  align-self: center;
  width: fit-content;
}

/* posts */

.post-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  width: 100%;
  text-decoration: none;
  color: black;
}

.post-text {
  font-size: medium;
  text-align: left;
  width: 100%;
}

.add-new-post {
  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-shadow: 3px 5px 1px rgb(253, 197, 197);
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  align-self: center;
  width: fit-content;
}

/* likes */
.like-container {
  width: 30%;
  padding: 5px;
  box-sizing: border-box;
  align-self: center;
}

.add-like-button {
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-shadow: 3px 5px 1px rgb(28, 27, 27);
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  align-self: center;
  width: fit-content;
}

/* comments */
.add-comment-button {
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-shadow: 3px 5px 1px rgb(28, 27, 27);
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  align-self: center;
  width: fit-content;
}

.add-comment-container {
  background-color: #f39feb4b;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.comment-container {
  background-color: #9ff3d34b;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.comment-card {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.comment-name-text {
  font-weight: 400;
  font-size: 13px;
  margin: 5px;
}

/* utils */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 650px;
  gap: 5px;
  width: 100%;
  padding: 25px 0;
}

.border-card-bio {
  border: 2px black solid;
  border-radius: var(--border-radius);
  margin-top: 10px;
  margin-bottom: 15px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  border: 3px rgb(32, 32, 32) solid;
  padding: 10px 20px;
}

.flex-col-post {
  display: flex;
  flex-direction: column;
  border: 3px rgb(32, 32, 32) solid;
  padding: 10px 15px;
}

.flex-col-post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.flex-col-comment {
  display: flex;
  flex-direction: column;
  border: 1px rgb(92, 248, 157) solid;
  padding: 10px 10px;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.p-4 {
  padding: 16px;
}

.gap-0 {
  gap: 0;
}

.gap-0-5 {
  gap: 0.5px;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-5 {
  gap: 50px;
}

.items-start {
  align-items: start;
}

.items-center {
  align-items: center;
}

.user-card-title {
  font-size: 30px;
  font-weight: 700;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.alert {
  color: red;
}

/* navbar */
.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 30px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-header > .nav-title > a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* devise */
.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#new_user {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#user_email,
#user_password,
#user_password_confirmation {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
